# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea/COP3402-VM.iml
.idea/modules.xml
.idea/vcs.xml
.vscode/tasks.json
.vscode/settings.json
.idea/.name
Given start folder/.vs/Given start folder/FileContentIndex/45db1643-be9a-493f-9316-c0da332fb1da.vsidx
Given start folder/.vs/Given start folder/v17/.wsuo
Given start folder/.vs/slnx.sqlite
Given start folder/.vs/VSWorkspaceState.json
Given start folder/.vscode/tasks.json
Given start folder/.vs/Given start folder/FileContentIndex/ebcbdb14-6289-4b7f-98e4-bc8407a93a04.vsidx
